/* styles.css */
/* Nav Bar */
.my-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    min-height: 60px;
    max-height: 80px;
    z-index: 1000;
    display: flex;
    background-color: #1b1e24;
    /* light gray background */
    border-bottom: 1px solid #7d8282;
    align-items: center;
    justify-content: center;
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 100%;
    width: fit-content;
    /* a remove */
    background-color: transparent;
    border: none;
}

.brand-background {
    display: flex;
    align-items: center;
    border: 2px solid #4b6070db;
    background-color: #f8f9fa;
    height: 70%;
    width: fit-content;
    border-radius: 30px;
    padding-right: 1%;
}

.brand {
    display: flex;
    text-decoration: none;
    font-family: 'aquire-Font', sans-serif;
    color: #4b6070db;
    font-weight: bold;
    font-size: 30px;
    margin-right: 5px;
}

.logo {
    object-fit: cover;
    height: 100%;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
}

.brand:hover {
    color: #aab4b4;
    text-decoration: none;
}


.my-navbar-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.my-navbar-content-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.my-navbar-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.my-navbar-content-switch {
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.my-navbar-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-brand {
    padding: 0;
    /* remove default padding */
    margin-right: 10px;
    /* reduce right margin */
}

.my-nav-link {
    list-style: none;
    background: none;
    color: #aab4b4;
    text-decoration: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    font-weight: bold;
    height: 60%;
    width: fit-content;
    padding: 1%;
    margin-left: 5px;
    margin-right: 5px;
}

.my-nav-link-profile{
    list-style: none;
    background: none;
    border-radius: 50%;
    text-decoration: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    font-weight: bold;
    height: 80%;
    width: fit-content;
    padding: 1%;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-image-nav {
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    padding: auto;
}

.profile-image-nav:hover {
    width: 101%;
    height: auto;
    border-color: #ffffff 1px solid;
}

.my-nav-link:hover {
    color: #1a2b3e;
    background-color: #7d8282;
    border-radius: 5px;
    text-decoration: none;
}

.my-nav-link-label {
    display: flex;
    align-items: center;
    margin-left: 3px;
}

/* if small screen remove the label */
@media (max-width: 768px) {
    .my-nav-link-label {
        display: none;
    }
}


.my-nav-item:hover {
    background-color: transparent;
}

.navicon {
    color: #ffffff;
    margin-right: 5% !important;
}

.navlabel {
    padding-left: 5%;
}

.dropdown-menu {
    background-color: #1b1e24 !important;
    border-radius: 5px;
    border-bottom-color: #7d8282;
    border-left-color: #7d8282;
    border-right-color: #7d8282;
}

.my-navbar-content {
    height: 100%;
    width: 100%;
}

.dropdown-item {
    color: #ffffff !important;
    font-weight: bold !important;
}

.dropdown-item:hover {
    background-color: #1a2b3e !important;
    color: #aab4b4 !important;
    border-radius: 5px !important;
    text-decoration: none;
}

.input-group.form-control {
    height: max-content;
}

.search::placeholder {
    color: #969696;
    text-align: center;
}

.navButton {
    color: #aab4b4 !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 1%;
    margin: 1%;
}

.navButton:hover {
    background-color: #7d8282;
    border-radius: 5px;
}

.navLabel {
    color: #aab4b4db !important;
    font-weight: bold !important;
}

/* search bar */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70% !important;
    width: fit-content;
    position: relative;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1e24;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    border: #4b6070 1px solid;
}

.bot-icon-container {
    background-color: #4b6070;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.search-input {
    border: none;
    background-color: transparent;
    color: #fff;
    justify-content: center;
    align-items: center !important;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0%;
}

.send-question {
    height: 100%;
    width: auto;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #4b6070;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.send-question:hover {
    background-color: #566d80;
    color: #fff;
}

/* if small screen keep only the send-question for open chat*/
@media (max-width: 768px) {
    .search-form {
        display: none;
    }

    .bot-icon-container {
        display: none;
    }

    .send-question {
        display: none;
    }

    .search-input {
        display: none;
    }
}

/* end search bar */

/* Dark mode switch */
.dark-mode-switch {
    width: 50px;
    /* Adjust the width as needed */
    position: relative;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #4b6070;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #ffeb9b;
}

.fa-sun {
    color: #f8c10b;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

/* end search bar */
/* end navbar */






/* Path: templates/style.css */
body {
    background-image: url('/static/background/milad-fakurian-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.alert {
    margin-top: 5px;
    font-size: 14px;
}

.invalid {
    color: red;
    font-weight: bold;
}

.password-strength-indicator {
    font-weight: bold;
    margin-top: 5px;
}

.very-weak {
    color: red;
}

.weak {
    color: orange;
}

.moderate {
    color: yellowgreen;
}

.strong {
    color: green;
}

.username-indicator.invalid {
    color: red;
    font-weight: bold;
}

.email-indicator.invalid {
    color: red;
    font-weight: bold;
}

.alert_container {
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    margin-right: 2%;
    margin-top: 5%;
}

.chat-container {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.spinner_9y7u {
    animation: spinner_fUkk 2.4s linear infinite;
    animation-delay: -2.4s
}

.spinner_DF2s {
    animation-delay: -1.6s
}

.spinner_q27e {
    animation-delay: -.8s
}

@keyframes spinner_fUkk {
    8.33% {
        x: 13px;
        y: 1px
    }

    25% {
        x: 13px;
        y: 1px
    }

    33.3% {
        x: 13px;
        y: 13px
    }

    50% {
        x: 13px;
        y: 13px
    }

    58.33% {
        x: 1px;
        y: 13px
    }

    75% {
        x: 1px;
        y: 13px
    }

    83.33% {
        x: 1px;
        y: 1px
    }
}


/* modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.chat-form {
    padding-top: 15px;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
    clear: both;
}

.chat-text {
    height: 300px;
    /* Set a fixed height for the container */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.user {
    background-color: #5BC0DE;
    color: #fff;
    float: right;
}

.bot {
    background-color: #E6E6E6;
    float: left;
}

.profile-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image-nav {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    padding: auto;
}

.resume-container {
    position: relative;
    width: 80vh;
    height: 80vh;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
}

.resume {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.download-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196f3;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.download-btn:hover {
    background-color: #1769aa;
}

.weather-widget {
    position: fixed;
    top: 10%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.current-weather {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.weather-icon img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#city-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#temperature {
    font-size: 18px;
}

.forecast {
    display: none;
    background-color: #ffffff54;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    max-height: 300px;
    /* set a maximum height for the element */
    overflow-y: auto;
    /* enable vertical scrolling */
}

.forecast-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.forecast-item .date {
    font-size: 16px;
    font-weight: bold;
}

.forecast-item .temp {
    font-size: 16px;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.551);
    border-radius: 20px;
}

.carousel_div {
    position: relative;
    width: 50%;
    /* or any other desired width */
    height: 60%;
    /* or any other desired height */
    overflow: hidden;
    margin: 0 auto;
    /* this will center the element horizontally */
}

/* Dark mode styles */
.dark-mode {
    background-color: #1a1a1a;
    color: #ddd;
}

.dark-mode .slider {
    background-color: #ddd;
}

.dark-mode input:checked+.slider {
    background-color: #3a3a3a;
}

.dark-mode input:checked+.slider:before {
    background-color: #ddd;
}