/* styles_light.css */
/* Path: static/css/style_light.css */
@font-face {
    font-family: 'aquire-Font';
    src: url('/static/font/aquire-font/AquireBold-8Ma60.otf');
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('/static/font/Montserrat/static/Montserrat-Regular.ttf');
}

body {
    background-image: url('/static/background/milad-fakurian-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat-regular' !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}


body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon {
    font-size: 24px;
}

ion-icon.medium {
    font-size: 28px;
}

ion-icon.large {
    font-size: 36px;
}

ion-icon.large-60 {
    font-size: 60px;
}

ion-icon.large-80 {
    font-size: 80px;
}

ion-icon.large-100 {
    font-size: 100px;
}

ion-icon.white {
    color: #ffffff;
}

ion-icon.darkBlue {
    color: #3c4e5e;
}

/* Nav Bar */
.my-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    display: flex;
    background-color: #000000b2;
    /* Transparent background with 20% opacity */
    border-bottom: 1px solid #ddd;
    backdrop-filter: blur(10px);
    /* Apply a blur effect to the background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* light gray background */
    border-bottom: 1px solid #1b1e24;
    align-items: center;
    justify-content: center;
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 100%;
    width: fit-content;
    /* a remove */
    background-color: transparent;
    border: none;
}

.brand-background {
    display: flex;
    align-items: center;
    /* border: 2px solid #1b1e24;
    background-color: #f8f9fa; */
    height: 90%;
    width: fit-content;
    border-radius: 30px;
    padding-right: 1%;
}

.brand {
    display: flex;
    text-decoration: none;
    font-family: 'aquire-Font', sans-serif;
    /* color: #4b6070db; */
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.brand.error {
    color: #4b6070db;
    font-size: 50px;
}

.logo {
    object-fit: cover;
    height: 100%;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
}

.my-navbar-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.my-navbar-content-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 10%;
}

.my-navbar-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.my-navbar-content-switch {
    display: flex;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.my-navbar-content-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-brand {
    padding: 0;
    /* remove default padding */
    margin-right: 10px;
    /* reduce right margin */
}

.my-nav-link {
    list-style: none;
    background: none;
    color: #aaaaaa;
    text-decoration: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold;
    height: 90%;
    width: 80px;
    flex-direction: column;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    position: relative;

}

.my-nav-link.isactive {
    list-style: none;
    background: none;
    color: #ffffff;
    text-decoration: none;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold;
    height: 90%;
    width: 80px;
    flex-direction: column;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    position: relative;

}

.active-pill {
    height: 4px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 5px;
    display: none;
}

.active-pill.isactive {
    height: 4px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 10px;
    display: block;
}

.my-nav-link-box {
    display: flex;
    align-items: center;
}

.my-nav-link-profile {
    list-style: none;
    background: none;
    border-radius: 50%;
    text-decoration: none;
    display: flex !important;
    align-items: center !important;
    font-weight: bold;
    height: 80%;
    width: fit-content;
    padding: 1%;
    margin-left: 5px;
    margin-right: 5px;
}

.my-nav-link:hover .active-pill {
    display: none;
}

.my-nav-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.my-nav-link-label {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
    display: none;
    /* Initially hide the page name */
}

/* Style for the current page link */
.my-nav-link:hover .my-nav-link-label {
    display: block;
    /* Show the page name when hovering */
}

/* Style to underline the current page link */
.my-nav-link:hover ion-icon {
    text-decoration: underline;
    /* Underline the icon when hovering */
}

/* if small screen remove the label */
@media (max-width: 768px) {
    .my-nav-link-label {
        display: none;
    }

    .my-nav-link:hover .my-nav-link-label {
        display: none;
    }

    .my-nav-link {
        width: 40px !important;
    }

    .my-nav-link.isactive {
        width: 40px !important;
    }

    .brand {
        display: none;
    }

    .my-navbar-content-left {
        margin-left: 5px !important;
    }

    body {
        background-size: auto !important;
        background-repeat: repeat !important;
        overflow: auto !important;
        height: fit-content !important;
        max-height: none !important;
    }
}


.my-nav-item:hover {
    background-color: transparent;
}

.navicon {
    color: #ffffff;
    margin-right: 5% !important;
}

.icon {
    stroke: #000;
}


.navlabel {
    padding-left: 5%;
}

.dropdown-menu {
    margin-top: 10px !important;
    margin-left: -5px !important;
    background-color: #ececec !important;
    border-radius: 5px;
    border-bottom-color: #7d8282;
    border-left-color: #7d8282;
    border-right-color: #7d8282;
    width: fit-content;
}

.my-navbar-content {
    height: 100%;
    width: 100%;
}

.dropdown-item {
    color: #000000 !important;
    font-weight: bold !important;
}

.dropdown-divider {
    background-color: #2e3c47 !important;
}

.dropdown-item:hover {
    background-color: #7d8282 !important;
    text-decoration: none;
}

.input-group.form-control {
    height: max-content;
}

.search::placeholder {
    color: #969696;
    text-align: center;
}

.navButton {
    color: #aab4b4 !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 1%;
    margin: 1%;
}

.navButton:hover {
    background-color: #7d8282;
    border-radius: 5px;
}

.navLabel {
    color: #aab4b4db !important;
    font-weight: bold !important;
}

.profile-image-nav {
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    padding: auto;
}

.profile-image-nav:hover {
    border-color: #ffffff 1px solid;
}

/* end search bar */

/* Dark mode switch */
.dark-mode-switch {
    width: 50px;
    /* Adjust the width as needed */
    position: relative;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #969696db;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #ffeb9b;
}

.fa-sun {
    color: #f8c10b;
}

.checkbox-label .ball {
    background-color: #212425;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

/* end search bar */
/* end navbar */

.nav-pills li {
    line-height: 1;
}

.nav-pills li a {
    color: #212425;
    font-weight: bold;
}

.main-container {
    position: absolute;
    top: 70px;
    /* Set the top position to match the navbar height */
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
}

/* index page */
/* Define the animation for the first div (come from left) */
@keyframes fadeInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Define the animation for the second div (come from right) */
@keyframes fadeInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.welcome {
    text-align: center;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1700px;
    max-height: 200px;
    background-color: #cac9c9ce;
    border-radius: 20px;
    padding: 20px;
    /* Add other styles as needed */
    overflow: hidden;
    animation: fadeInFromLeft 1s ease-in-out forwards;
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.app-presentation {
    text-align: center;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1700px;
    background-color: #cac9c9ce;
    border-radius: 20px;
    padding: 20px;
    /* Add other styles as needed */
    overflow: hidden;
    animation: fadeInDownBig 1s ease forwards;
}

.welcome-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.welcome-text {
    font-size: 20px;
    height: 60%;
    font-weight: bold;
    margin-bottom: 10px;
    /* Enable scrolling for small screens */
    max-height: 100%;
    /* Set max-height to allow vertical scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.exemple {
    border-radius: 20px;
    background-color: #cac9c9ce;
    /* Example background color */
    padding: 20px;
    /* Add padding for spacing */
    text-align: center;
    justify-content: center;
    /* Center content horizontally */
    margin: 20px;
    /* Add margin for spacing */
    overflow: hidden;
    /* Hide any overflowing content */
    height: max-content;
    max-height: 650px;
    max-width: 1800px;
    animation: fadeInFromRight 1s ease-in-out forwards;
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Style for the app-container */
.app-container {
    position: relative;
    text-align: center;
    display:flex;
    flex-direction: column;
    background-color: #cac9c9ce;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    overflow: hidden;
    /* Updated animation name */
    animation: fadeInUpBig 1s ease forwards;
}

.app-top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    /* Adjust padding as needed */
}

.app-info-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* Adjust icon size as needed */
}

/* Style for the app-container title */
.app-container-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for the app-container image */
.app-container-img {
    margin-top: 20px;
    height: 80%;
    width: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

/* Style for the app image */
.app-img {
    max-width: 100%;
    height: auto;
}

/* Style for the download app button */
.download-app-button {
    font-size: 20px;
    background-color: #4b6070;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* Add hover effect to the download app button */
.download-app-button:hover {
    background-color: #3c4e5e;
}


.exemple-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px !important;
    margin-bottom: 20px;
}

.exemple-content {
    display: flex;
    justify-content: space-between;
    /* Space children evenly */
    align-items: center;
    height: 90% !important;
    /* Center content vertically */
    /* Add other styles as needed */
}

.exemple-content-left,
.exemple-content-right {
    flex: 1;
    /* Grow and shrink equally to take available space */
    text-align: center;
    /* Center content horizontally */
    justify-content: center;
    /* Add other styles as needed */
}

.exemple-content-left-title,
.exemple-content-right-title {
    margin-bottom: 20px;
    /* Add margin for spacing */
}

.exemple-content-left-img-container,
.exemple-content-right-img-container {
    width: 90%;
    /* Set a fixed width */
    max-width: 800px;
    /* Limit the maximum width */
    height: 500px;
    /* Set a fixed height */
    margin: 0 auto;
    /* Center the containers horizontally */
    /* Add other styles as needed */
}

.exemple-content-right-img-container {
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.exemple-content-left-img,
.exemple-content-right-img {
    max-width: 100%;
    /* Ensure the image doesn't exceed its container's width */
    height: auto;
    /* Maintain the image's aspect ratio */
    /* Remove scroll-snap-align property */
}

@media (max-width: 768px) {
    .main-container {
        height: fit-content;
        max-height: none;
    }

    .welcome {
        margin-left: 10px;
        margin-right: 10px;
        max-height: none;
        height: fit-content;
    }

    .main-centered-col {
        overflow-x: scroll !important;
    }

    .welcome-title {
        font-size: 40px;
    }

    .welcome-text {
        font-size: 20px;
        max-height: none !important;
        height: fit-content !important;
        overflow-y: scroll !important;
    }

    .exemple {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        height: fit-content;
        max-height: none;
        overflow: hidden;
    }

    .arrowSeparator {
        display: none !important;
    }

    .exemple-content {
        flex-direction: column;
        /* Stack children vertically on smaller screens */
        align-items: center;
        /* Center content horizontally */
    }

    .exemple-content-left,
    .exemple-content-right {
        flex: 1;
        /* Grow and shrink equally to take available space */
        text-align: center;
        /* Center content horizontally */
        justify-content: flex-start;
        height: 300px;
        max-width: none;
        margin: 0;
        /* Remove any margin for spacing */

    }

    .exemple-content-left-img-container {
        max-width: none;
        height: 300px;
        /* Set a fixed height for the image container */
    }

    .exemple-content-right-img-container {
        max-width: none;
        overflow-y: scroll;
        height: 300px;
        /* Set a fixed height for the image container */
    }

    .exemple-content-right-img {
        max-width: 100%;
        /* Ensure the image doesn't exceed its container's width */
        height: auto;
        /* Maintain the image's aspect ratio */
    }
}

/* end index page */

/* home page */
/* Center the Markdownify-div horizontally and vertically */
.main-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    /* Center the content horizontally */
}

.main-centered-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    /* Center the content horizontally */
}

.main-centered-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    /* Center the content horizontally */
}


.Markdownify-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 80%;
    max-width: 1500px;
    max-height: 850px;
    border-radius: 20px;
    background-color: #cac9c9ce;
}

/* Container for the guide cards */
.guide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 20px;
}

.small-guide-card .guide-card-text .small-label {
    display: none;
    height: fit-content !important;
}


/* Apply scrollable behavior to guide container on small screens */
@media (max-width: 768px) {
    .guide-card-info-btn {
        margin-right: -10px;
        margin-top: -10px;
        /* Adjust the margin to create space */
    }

    .guide-container {
        overflow-x: auto;
        width: 100% !important;
        /* Enable horizontal scrolling */
        overflow-y: hidden;
        white-space: nowrap;
        /* Prevent wrapping of guide cards */
        padding: 0 20px;
        /* Add padding to the left and right sides */
    }

    /* Ensure guide cards stay in a row */
    .small-guide-card,
    .big-guide-card,
    .arrowSeparator {
        display: inline-block;
        vertical-align: top;
    }

    .guide-card-text label {
        display: none;
    }

    .guide-card-text .small-label {
        display: inline;
    }

    .Markdownify-div {
        height: 100% !important;
        width: 100% !important;
        max-width: none !important;
        max-height: none !important;
        margin: 20px !important;
        padding: 20px !important;
    }
}


/* Guide card styles */
.small-guide-card,
.big-guide-card {
    position: relative;
    /* Needed for positioning the info button */
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 20px;
}

.big-guide-card {
    flex: 2;
}

.arrowSeparator {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.small-guide-card {
    height: 80%;
    /* Adjust the height as needed */
    margin-top: 20px;
    /* Add space above */
    margin-bottom: 20px;
    /* Add space below */
}

/* Info button styles */
.guide-card-info-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Guide card icon styles */
.guide-card-icon {
    height: 60%;
    width: auto;
}

/* Default icon size for larger screens */
.smallIcon {
    width: 10vw;
    /* Adjust the width relative to the viewport width */
    height: 10vw;
    /* Adjust the height relative to the viewport width */
    max-width: 60px;
    /* Add a maximum width to prevent excessively large icons */
    max-height: 60px;
    /* Add a maximum height to prevent excessively large icons */
}

/* Default icon size for larger screens */
.bigIcon {
    width: 10vw;
    /* Adjust the width relative to the viewport width */
    height: 10vw;
    /* Adjust the height relative to the viewport width */
    max-width: 80px;
    /* Add a maximum width to prevent excessively large icons */
    max-height: 80px;
    /* Add a maximum height to prevent excessively large icons */
}

/* Dropzone styles */
.dropzone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-top: 20px;
}

/* Adjust the size of the drop zone */
.mydropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 60px;
    height: 40%;
    width: 60%;
    border-radius: 20px;
    /* Default padding for larger screens */
    border: 2px dashed #000000 !important;
    background-color: #cac9c9ce !important;
}

.generate {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.generate-button {
    width: 50%;
}

/* Adjust the text within the drop zone */
.dropzone-text {
    margin-top: 20px;
    font-size: 16px;
}

.dropzone-icon {
    height: 60%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mydropzone:hover {
    /* Your hover styles here */
    /* For example, you can change background color and icon color */
    background-color: #cac9c9 !important;
    border: 3px dashed #000000 !important;
}

.spinner_9y7u {
    animation: spinner_fUkk 2.4s linear infinite;
    animation-delay: -2.4s
}

.spinner_DF2s {
    animation-delay: -1.6s
}

.spinner_q27e {
    animation-delay: -.8s
}

@keyframes spinner_fUkk {
    8.33% {
        x: 13px;
        y: 1px
    }

    25% {
        x: 13px;
        y: 1px
    }

    33.3% {
        x: 13px;
        y: 13px
    }

    50% {
        x: 13px;
        y: 13px
    }

    58.33% {
        x: 1px;
        y: 13px
    }

    75% {
        x: 1px;
        y: 13px
    }

    83.33% {
        x: 1px;
        y: 1px
    }
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .dropzone {
        padding: 40px;
        /* Decrease padding for smaller screens */
    }
    .guide-card-text{
        display: none !important;
    }
    .dropzone-text {
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }

    .modal-content {
        width: 100% !important;
        /* Adjust the width as needed */
        max-width: 100% !important;
        /* Remove the max-width constraint */
        max-height: none !important;
        /* Remove the max-height constraint */
        height: 70vh !important;
        /* Set a fixed height or adjust as needed */
        overflow-y: auto !important;
        /* Enable vertical scrolling */
        justify-content: flex-start !important;
        /* Adjust vertical alignment as needed */
        align-items: flex-start !important;
    }

    /* Adjust font size and padding for h2 and p elements */
    .modal-content h2,
    .modal-content h3,
    .modal-content p {
        font-size: 10px !important;
        /* Adjust the font size as needed */
        padding: 10px !important;
        /* Adjust the padding as needed */
        word-wrap: break-word !important;
        word-break: break-all !important;
        /* Ensure text wraps when necessary */
        width: 300px !important;
        height: auto !important;
        max-width: 300px !important;
        text-align: left !important;
    }

    /* Adjust list items */
    .modal-content ul.modal-list li {
        word-wrap: break-word !important;
        font-size: 10px !important;
        max-width: 300px !important;
        width: 300px !important;
        /* Ensure list items wrap when necessary */
    }
}

/* modal info */
/* Modal Styles */
.modal {
    display: none;
    z-index: 2;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-height: 80% !important;
    /* Set the maximum height to 80% of the viewport height */
    max-width: 80% !important;
    /* Set the maximum width to 80% of the viewport width */
    border-radius: 20px;
}

.modal-app {
    display: none;
    z-index: 2 !important;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    /* Use fixed positioning */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-app {
    position: relative;
    /* Add relative positioning to create a positioning context */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 3 !important;
    margin: 5% auto !important;
    padding: 40px !important;
    border: 1px solid #888;
    height: 80% !important;
    width: 90% !important;
    border-radius: 20px;
    overflow-y: auto;
    /* Add overflow-y for scrollable content */
}

.close-app {
    position: absolute;
    /* Add absolute positioning to place the close button */
    top: 10px;
    /* Adjust the top position as needed */
    right: 10px;
    /* Adjust the right position as needed */
    cursor: pointer;
    font-size: 32px;
    color: #888;
}

.modal-main-title-app {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.close-app:hover {
    color: #000;
    /* Change the color on hover if desired */
}



/* Your existing modal and modal-content styles remain unchanged */

.codePreviewContent {
    width: 1100px !important;
    height: 2050px !important;
    max-width: none;
    max-height: none;
    margin: 0;
}

.preDiv {
    width: 900px !important;
    height: 1900px !important;
    max-height: calc(80vh - 80px) !important;
    /* Adjust as needed to account for modal header and padding */
}

@media (max-width: 1080px) {
    .preDiv {
        width: 400px !important;
        height: 600px !important;
        max-height: calc(80vh - 80px) !important;
        /* Adjust as needed to account for modal header and padding */
    }

    .codePreviewContent {
        width: 450px !important;
        height: 650px !important;
    }
}


.modal-content.little {
    background-color: #fff;
    z-index: 2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40% !important;
    border-radius: 10px;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.modal-button {
    width: 30%;
}

.modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

/* Add this CSS for list alignment */
.modal-list {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
}

.modal-main-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-title {
    margin-top: 20px;
}

.modal-list li::before {
    content: "•";
    /* Add a bullet symbol */
    margin-right: 10px;
    /* Add some space between bullet and text */
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparent black */
    z-index: 1;
    /* Place it above the modal content */
}

/* end of home page  */


/* input */

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.readonly-input {
    background-color: #1b1e24;
    border-color: 1px solid #ccc;
    border-radius: 10px;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 1rem;
}

.submit-button {
    background-color: #4b6070;
    border-color: #4b6070;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button.round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.remove-button {
    background-color: #4b6070;
    border-color: #4b6070;
    border-radius: 10px;
    color: #dd2020;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button.round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.remove-button:hover {
    background-color: #d51d1d;
    border-color: #1b1e24;
    color: #ffffff;
}

.submit-button:hover {
    background-color: #5f798d;
    border-color: #1b1e24;
    color: #ffffff;
}

.invalid {
    color: red;
    font-weight: bold;
}

.password-strength-indicator {
    font-weight: bold;
    margin-top: 5px;
}

.very-weak {
    color: red;
}

.weak {
    color: orange;
}

.moderate {
    color: yellowgreen;
}

.strong {
    color: green;
}

.username-indicator.invalid {
    color: red;
    font-weight: bold;
}

.email-indicator.invalid {
    color: red;
    font-weight: bold;
}

/* end of input */
/* alertes */
.alert {
    margin-top: 5px;
    font-size: 14px;
}

.alert_container {
    position: fixed;
    /* Use fixed positioning for the alert container */
    top: 80px;
    /* Adjust the top position to match the navbar height */
    right: 20px;
    width: 300px;
    /* Adjust the width as needed */
    max-height: 200px;
    /* Limit the maximum height */
    z-index: 9999;
    padding: 10px;
    /* Add padding to provide spacing between alerts */
}

.alert {
    width: 100%;
    /* Make each alert take up the full width of the container */
    margin-bottom: 10px;
    /* Add some spacing between alerts */
    position: relative;
    /* Make the alerts relatively positioned for animations */
    animation-duration: 0.5s;
    /* Adjust the animation duration as needed */
}

/* Add the animation classes for entering and leaving */
.animate__bounceInDown {
    animation-name: bounceInDown;
}

.animate__fadeOutUp {
    animation-name: fadeOutUp;
}

/* Define the animation keyframes for entering and leaving */
@keyframes bounceInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOutUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* end of alerts */

/* cards */
/* Styles for the table card */
.cards-groupper {
    width: 80%;
    height: 90%;
    min-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
}

.card-groupper-button {
    padding: 10px 20px;
    /* Adjust padding to your liking */
    background-color: #3c4e5e;
    /* Button background color */
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    z-index: 0;
    color: #fff;
    /* Text color */
    border: none;
    /* Remove border */
    cursor: pointer;
    /* Show pointer cursor on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
    font-size: 16px;
    /* Font size */
    width: 200px;
    height: 50px;
    margin-right: -50px;
}

.card-groupper-button.second {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.card-groupper-button.isactive {
    background-color: #fff;
    /* Button background color on hover */
    z-index: 1;
    font-weight: bold;
    color: #3c4e5e;
    text-decoration: none;
}

.card-groupper-button:hover {
    background-color: #4b6070;
    /* Button background color on hover */
}

.card-groupper-button.isactive:hover {
    background-color: #fff;
    border-top: 1px solid #3c4e5e;
    border-right: 1px solid #3c4e5e;
    ;
    /* Button background color on hover */
}

.card-groupper-buttons {
    display: flex;
    flex-direction: row;
    /* Stack buttons vertically */
    align-items: flex-start;
    /* Align buttons to the top */
    margin: 0px;
}

.table-card {
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-x: auto;
    display: none;
}

.card-header {
    background-color: #4b6070;
    color: #fff;
    padding: 10px;
    border-radius: 10px !important;
    margin-bottom: 20px;
}

.card-header h3 {
    font-size: 24px;
    margin: 0;
}

/* Styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #4b6070;
    color: #fff;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .filter-div {
        max-width: 340px !important;
        flex-direction: column !important;
    }
    .date-filter-div {
        width: 300px !important;
        max-width: 300px !important;
        display: flex;
        flex-direction: column !important;
    }
    .cards-groupper {
        min-width: 200px !important;
        margin-top: 20px !important;
        margin-left: -40px !important;
    }
    .table-card {
        border-top-right-radius: 0px;
        min-width: 350px !important;
    }
    .history-list table tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ccc;
    }
    .history-list table tr .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .markdowns-list table tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ccc;
    }
    .markdowns-list table tr .button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .history-list table td {
        display: block;
        text-align: left;
    }
    .markdows-list table td {
        display: block;
        text-align: left;
    }

    .button-container {
        margin-top: 10px;
    }

    /* Adjust button styles as needed for small screens */
    .tab-action {
        display: inline-block;
        margin-right: 5px;
    }
}


/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 768px) {

    /* Display actions buttons in a new line on smaller screens */
    .button-container {
        flex-direction: column;
        /* Display buttons in a column layout */
        align-items: flex-start;
        /* Align buttons to the left */
    }

    /* Optional: Add more styling for buttons in the new line if needed */
    .actions-buttons button {
        margin: 5px 0;
        /* Adjust vertical spacing */
    }

}

/* Styles for table actions buttons */
.button-container button {
    background-color: transparent;
    text-decoration: none;
    color: #4b6070;
    border: none;
    cursor: pointer;
}

.button-container button.red {
    color: #be2727 !important;
}

.tab-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}
.tab-action button.isdisabled {
    color: #3d3d3d !important;
    cursor: not-allowed;
}
.tab-action button.isenabled {
    color: #4b6070 !important;
    cursor: pointer !important;
}

.tab-action-label {
    display: none;
}

.tab-action:hover .tab-action-label {
    display: block;
}

.file-not-found-div {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 60%;
    margin: 0 auto;
}

/* Styles for table row */
.history-row:nth-child(even) {
    background-color: #f2f2f2;
}

.markdown-row:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles for table preview row */
.preview-row {
    background-color: #f2f2f2;
}

/* search bar */
/* Styles for the filter form container */
.filter-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Styles for the text filter div */
.text-filter-div {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

.code-toolbar {
    width: auto !important;
}

pre {
    width: fit-content !important;
}

.code-filter-div {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    height: 60px;
}

.filter-input {
    padding-right: 30px;
    border: none;
    outline: none;
    /* Adjust spacing for input and icon */
}

.clear-icon-container {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    display: none;
}

.closeIcon {
    font-size: 20px;
    /* Adjust icon size */
    color: #999;
    /* Adjust icon color */
}

.closeIcon:hover {
    color: #181818;
    /* Adjust icon color on hover */
}

/* Show the clear icon when there's input text */
#history-filter-input:not(:placeholder-shown)+.clear-icon-container {
    display: block;
}

#datepicker:not(:placeholder-shown)+.clear-icon-container {
    display: block;
}

#markdown-filter-input:not(:placeholder-shown)+#clear-icon-container-markdown {
    display: block;
}

#datepicker-markdown:not(:placeholder-shown)+#clear-icon-container-markdown-date {
    display: block;
}


.text-filter-div ion-icon {
    margin-right: 10px;
}

/* Styles for the date filter div */
.date-filter-div {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    width: 400px;
}

.date-filter-div ion-icon {
    margin-right: 10px;
}

/* Styles for the search input field */
#history-filter-input,
#datepicker,
#search-option {
    border: none;
    outline: none;
    font-size: 16px;
}

/* Styles for the search input field */
#markdown-filter-input,
#datepicker-markdown,
#search-option-markdown {
    border: none;
    outline: none;
    font-size: 16px;
}

/* Adjust the select arrow style */
/* Style the arrow icon (you can use your own icon if needed) */
select::-ms-expand {
    display: none;
}

.filter-icon-container {
    width: fit-content;
}

/* Style for the filter form container on smaller screens */
@media (max-width: 768px) {
    #history-filter-div {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Adjust the margin for better spacing */
    .text-filter-div,
    .date-filter-div {
        margin-bottom: 10px;
    }
}

.card {
    width: 100%;
    /* Optional: Adjust the card width as needed */
    max-width: 600px;
    /* Optional: Set a maximum card width */
    max-height: 400px;
    background-color: #fff;
    /* Optional: Card background color */
    border: 1px solid #ddd;
    /* Optional: Card border */
    border-radius: 20px;
    /* Optional: Card border radius */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Optional: Card box shadow */
}

.card-close {
    position: relative;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.login-card {
    width: 100%;
    /* Optional: Adjust the card width as needed */
    max-width: 500px;
    /* Optional: Set a maximum card width */
    max-height: 400px;
    background-color: transparent;
    /* Optional: Card border */
    border-radius: 20px;
    /* Optional: Card border radius */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    /* Optional: Card box shadow */
}

.register-card {
    width: 100%;
    /* Optional: Adjust the card width as needed */
    max-width: 500px;
    /* Optional: Set a maximum card width */
    max-height: 800px;
    background-color: transparent;
    /* Optional: Card border */
    border-radius: 20px;
    /* Optional: Card border radius */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    /* Optional: Card box shadow */
}

.login-card-header {
    padding: 20px;
    background-color: #4b6070;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.login-card-body {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #cac9c9ce;
}

@media (max-width: 768px) {
    .card-container {
        overflow: hidden;
        height: fit-content !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        padding-bottom: 50px !important;
    }

    .register-card {
        height: fit-content !important;
    }

    .login-card-body {
        overflow: auto !important;
    }
}

.login-input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.input-buttons {
    display: flex;
    align-items: center;
}

.login-button {
    background-color: #4b6070;
    width: 80%;
    border-color: #4b6070;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    margin-top: 40px;
    /* Set margin to 'auto' to center horizontally */
    display: block;
    /* Use 'block' display to occupy full width */
}

.login-button.little {
    width: 100px;
    height: 100%;
    margin-top: 0;
    /* Set margin to 'auto' to center horizontally */
    display: block;
    /* Use 'block' display to occupy full width */
}

/* Centered login button */
.centered-login-button {
    text-align: center;
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
}

/* Adjust the margins and padding as needed */
.input {
    margin-right: 10px;
    /* Add margin between input and icons */
}

.input.password {
    margin-right: 0px;
    /* Add margin between input and icons */
    width: 380px;
}

.hidden {
    display: none;
}

#caps-lock-icon {
    color: rgb(129, 1, 1);
    /* You can adjust the color as needed */
}

.user {
    background-color: #4b6070db;
    color: #fff;
    float: right;
}

.profile-card {
    background-color: #E6E6E6;
    border-radius: 10px;
    margin-top: 30px;
    max-width: 800px;
    height: 90%;
    width: 40%;
    min-width: 450px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .profile-card {
        width: 90% !important;
        min-width: 200px !important;
    }
}


.profile-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image-nav {
    height: 100%;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    padding: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


/* end add project */
.filter-message {
    margin-top: 50px;
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.page-header {
    margin-top: 20px;
}

.image-container {
    white-space: nowrap;
    overflow-x: auto;
}

.image-container img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.delete-icon {
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 11px;
    background-color: rgba(0, 0, 0, 0.778);
    color: white;
    border: none;
    border-radius: 50%;
    height: 15px;
    /* Adjust the height as per your preference */
    width: 15px;
    /* Adjust the width as per your preference */
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
}

.image-container img:hover+.delete-icon,
.delete-icon:hover {
    visibility: visible;
}

.media-container {
    margin-bottom: 40px;
}

.video-container {
    white-space: nowrap;
    overflow-x: auto;
}

.video-container video {
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.video-wrapper {
    position: relative;
    display: inline-block;
}

.delete-icon {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    top: 3px;
    right: 11px;
    background-color: rgba(0, 0, 0, 0.778);
    color: white;
    border: none;
    border-radius: 50%;
    height: 15px;
    /* Adjust the height as per your preference */
    width: 15px;
    /* Adjust the width as per your preference */
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
}

.video-container video:hover+.delete-icon,
.delete-icon:hover {
    visibility: visible;
}

.drag-drop-item {
    cursor: move;
    user-select: none;
}

.reorder-container {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dragable {
    border-bottom: black 1px solid;
    transition: border-color 0.3s ease;
}

.dragable:hover {
    border-color: #dcdcdc;
}

.dragable.draggable {
    cursor: move;
}

.dragable.dragging {
    opacity: 0.5;
}

.dragable.drop-hover {
    background-color: #dcdcdc;
    transform: translateY(-5px);
}

.dragable.drop-target {
    /* Added drop-target style */
    background-color: #dcdcdc;
    transform: translateY(5px);
    border: 1px dashed #282828;
}

.project-list table {
    width: fit-content;
    background-color: #f5f5f5;
    border-collapse: collapse;
    border-radius: 10px;
}

.project-list th,
.project-list td {
    padding: 10px;
    text-align: left;
}

.project-list th:nth-child(4),
.project-list td:nth-child(4) {
    text-align: center;
}

.project-list .btn {
    padding: 5px 10px;
}

.project-list .collapse {
    background-color: #f5f5f5;
    padding: 10px;
}


.project-image-container {
    width: 30%;
    height: 10%;
    overflow: hidden;
}

.project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-form-container {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.project-form {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: black;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
}

.collapsible {
    background-color: #777;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* resume page */

.body-noscroll {
    overflow: hidden;
}

.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 4px;
}

.about-me-sommaire-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.about-me-sommaire-content a {
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
}

.about-me-sommaire-content a:hover {
    color: #666;
}

.about-me-testimonials {
    margin-bottom: 20px;

}


.about-me-content-title-pils {
    font-weight: bold;
    margin: 0;
}

.about-me-testimonials-container {
    display: flex;
    flex-direction: column;
}

.about-me-testimonial {
    position: relative;
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.about-me-testimonial-content {
    margin-bottom: 5px;
}

.about-me-testimonial-author {
    font-style: italic;
    color: #888888;
}

.about-me-content-text {
    line-height: 1.4;
    margin: 0;
}

.about-me-content-title-text {
    line-height: 1.4;
    margin: 0;
    margin-left: 10px;
}

.about-me-target_job {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.aboutme-right-div {
    width: 300px;
    margin: 20px;

}

.aboutme-left-div {
    flex: 1;
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 80%;
    overflow: auto;
    overflow-x: hidden;
    margin: 20px;
    padding-bottom: 40px;
}

.resume-toggle-container {
    z-index: 999;
}

.main_container_resume {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15%;
    height: 100%;
    width: 100%;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    height: 100%;
    width: 100%;
}

.aboutme-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-me-title-container {
    width: 100%;
    height: 100px;
    background-color: #4b6070;
    border-radius: 15px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.about-me-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.fa-solid.fa-magnifying-glass {
    margin-left: 10px;
}


.about-me-header {
    width: 80%;
    margin-top: 15px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.about-me-sommaire {
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
}

.about-me-sommaire .about-me-sommaire-header {
    background-color: #4b6070;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.aboutme-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.about-me-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.about-me-sommaire .about-me-content-title {
    font-weight: bold;
}

.about-me-target_job {
    margin-bottom: 40px;
}

.pills {
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px;
    background-color: #4b6070;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pills-highlights {
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px;
    background-color: #d95e31;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pills-highlights:hover {
    background-color: #d95e31;
    border: 1px solid #f5f5f5;
}

.about-me-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.about-me-personeal-info {
    margin-left: 20px;
    width: fit-content;
}

.resume-container {
    position: absolute;
    top: 180px;
    /* Adjust the top position as needed */
    right: 20px;
    width: 300px;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 999;
}

.collapsed-resume {
    height: 0;
}

.toggle-button {
    background-color: #4b6070;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.resume {
    width: 100%;
    height: 100%;
}

.download-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b6070db;
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.download-btn:hover {
    background-color: #4b6070;
    color: #fff;
    text-decoration: none;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-title-container {
    text-align: center;
    margin-bottom: 10px;
}

.contact-title {
    font-size: 24px;
    color: #333;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-content-title {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contact-content-text {
    margin-top: 5px;
}

.contact-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-button-skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #4b6070;
    background-color: #e5e5e5;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    cursor: pointer;
}

.button-text {
    flex: 1;
    text-align: center;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.hards-skills-container-content {
    padding: 20px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.hards-skills-container-content.collapsed-resume {
    display: none;
}

.pills-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}


.about-me-content-title {
    font-weight: bold;
    margin-bottom: 10px;

}

.about-me-content-title-text {
    line-height: 1.4;
    margin: 0;
    margin-left: 10px;
}

.about-me-content-div {
    width: 80%;
    margin-bottom: 40px;
    margin-top: 50px;
}

.about-me-picture-img {
    width: 600px;
    height: auto;
    margin-left: 50px;
    border-radius: 20px;
}

/* end resume page */

/* start admin page */
.checkDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkDiv label {
    font-size: 12px;
    margin-bottom: 5px;
}

.checkDiv input[type="checkbox"] {
    align-self: flex-end;
}

.pills-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.admin-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.admin-menu-button i {
    margin-right: 10px;
}

.admin-menu-label {
    font-size: 14px;
    margin-top: 8px;
}

.admin-menu-button:hover {
    background-color: #e6e6e6;
    border-radius: 10px;
}

.add-button-admin-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hobbies {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-add-button {
    background-color: #3c4e5e;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.admin-add-button:hover {
    background-color: #5d778b;
}

.fa-plus {
    vertical-align: middle;
}

.contact-admin-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about-me-admin-div {
    flex: 1 1 300px;
    margin-bottom: 20px;
}

.about-me-content-title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.remove-testimonial {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.about-me-testimonial:hover .remove-testimonial {
    display: flex;
}

.about-me-testimonial:hover {
    border: 1px solid #3a3a3a;
}


.remove-pills {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.pills {
    position: relative;
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 10px;
    background-color: #4b6070;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #3c4e5e;
}

.pills:hover {
    background-color: #3c4e5e;
    border: 1px solid #f5f5f5;
}

.pills:hover .remove-pills {
    display: flex;
}

.card-admin {
    width: fit-content;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
}

.scrollable-card-body {
    max-height: 87%;
    /* Set the maximum height for the scrollable area */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.card-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    /* Full viewport height */
    width: 100%;
    padding: 20px;
}

@media (max-width: 768px) {
    .card-container {
        align-items: flex-start;
        /* Align to the top */
    }
}

.main_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;

}

.admin-left-div {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.admin-right-div {
    flex: 1 1 auto;
    margin-top: 20px;
    height: 100%;
    width: 90%;
}

.exit-div {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: fit-content;
    margin-top: 20px;
}

.admin-card {
    display: none;
    width: 80%;
}

.admin-card.show {
    display: block;
}


.carousel-container-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: fit-content;
}

.project-link-button {
    position: absolute;
    top: 10px;
    right: 5px;
    margin: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: #040404b9;
    color: white;
}

.project-type-label {
    position: absolute;
    top: 50px;
    left: 5px;
    margin: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: #040404b9;
    color: white;
    font-weight: bold;
}

.project-date-label {
    position: absolute;
    top: 10px;
    left: 5px;
    margin: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    background-color: #040404b9;
    color: white;
}

.backButton {
    top: 10px;
    left: 20px;
}

.project-container-projectView {
    margin-top: 1%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}

/* markdown editor */

/* styles.css */
.editor {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.markdown-editor {
    width: 80%;
    height: 80%;
    margin: 0px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Media query for screens less than 1250px */
@media screen and (max-width: 1250px) {
    .markdown-editor {
        width: 100%;
        height: 100%;
        margin: 0px;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .markdown-editor-toolbar {
        flex-direction: column !important;
        height: auto !important;
        min-width: auto !important;
        align-items: center !important;
        width: 10% !important;
        height: 95% !important;
        margin-left: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }

    .toolbar-title {
        display: none !important;
    }

    .toolbar-buttons {
        flex-direction: column !important;
        margin-top: 5px !important;
    }

    .toolbar-button-div {
        width: 100% !important;
        height: auto !important;
    }

    .editor-modal {
        width: 100% !important;
        height: 10% !important;
        margin: 0px !important;
        padding: 0px !important;
        border-radius: 0px !important;
    }

    .editor-modal-input-container {
        display: flex;
        flex-direction: row !important;
    }

    .editor-content {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        height: 90% !important;
        width: 90% !important;
    }

    .editor-input-div,
    .editor-preview-container {
        flex: 1;
        /* Make both input and preview divs equal in height and take up available space */
        width: 90% !important;
        height: 60% !important;
        max-height: none !important;
        margin: 10px 0;
        border-radius: 10px !important;
    }

    .editor-input {
        width: 100%;
        height: 100% !important;
    }

    .editor-preview-div {
        width: 100%;
        height: 100%;
    }

    .editor-modal {
        width: 90% !important;
        height: 200px !important;
        border-radius: 10px !important;
        margin: 10px !important;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
    }

    .editor-modal.list {
        height: 400px !important;
        width: 90% !important;
    }

    .modal-header {
        height: 50px !important;
        padding: 5px !important;
    }

    .editor-modal-button-container-column {
        flex-direction: row !important;
        justify-content: center !important;
    }

    .modal-body {
        height: 150px !important;
        width: 90% !important;
        padding: 0px !important;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .modal-body.media-modal {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 10px !important;
        width: 100% !important;
        height: 100% !important;
    }

    .editor-modal-button-container {
        width: 400px !important;

    }

    .grid-view {
        height: 90% !important;
        width: 100% !important;
    }

    .modal-input {
        width: 100px !important;
        margin-right: 10px !important;
    }

    .modal-button-validation {
        margin-left: 20px !important;
    }

    .modal-header {
        height: 50px;
        padding: 5px;
    }
}

.toolbar-button svg {
    width: 24px;
    height: 24px;
    color: #fff;
}

.toolbar-button ion-icon {
    width: 24px;
    height: 24px;
    color: #fff;
}

/* Combine the existing toolbar styles with the new styles */
.markdown-editor-toolbar {
    width: 100%;
    height: 100px;
    min-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #000000b2;
    /* Transparent background with 20% opacity */
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    /* Apply a blur effect to the background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
}


/* Combine the existing toolbar button styles with the new styles */
.toolbar-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin-top: 20px;
}


/* Updated toolbar button styles for round buttons */
.toolbar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    /* Set a fixed width for round buttons */
    height: 40px;
    /* Set a fixed height for round buttons */
    background-color: rgba(0, 0, 0, 0.2);
    /* Button background color with transparency */
    border-radius: 50%;
    /* Make the button round by setting border-radius to 50% */
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    /* Add smooth transitions */
    outline: none;
    /* Remove the default outline */
}

.dropdown-button {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, background-color 0.2s;
}

.toolbar-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 50px;
    height: 60px;
}

/* custom drop down */
.custom-dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 50px;
    height: 60px;
    z-index: 2 !important;
    margin-right: 10px;
}

.dropdown-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    /* Darken the button on hover */
    transform: scale(1.1);
}

.dropdown-label {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 12px;
    padding: 5px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    height: 500px;
    overflow-y: scroll;
    z-index: 2 !important;
    overflow-x: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    /* Transparent background with 20% opacity */
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    /* Apply a blur effect to the background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    will-change: transform;
}

.select-menu.small {
    width: 200px;
    height: auto;
}

.select-menu li {
    padding: 5px;
    font-size: medium;
    text-align: center;
    cursor: pointer;
}

.select-menu li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}


/* Style for the button icons (icons inside the round buttons) */
.toolbar-button ion-icon {
    font-size: 24px;
    /* Adjust the icon size */
    color: #fff;
    /* Icon color */
}

/* Style for the button labels (text below the round buttons) */
.toolbar-button-div .toolbar-label {
    color: #fff;
    /* Text color */
    font-size: 12px;
    /* Text font size */
    height: 10px;
    opacity: 0;
    /* Initially set opacity to 0 to hide the label */
    transition: opacity 0.2s;
    /* Add a transition effect */
}

.custom-dropdown .toolbar-label {
    color: #fff;
    /* Text color */
    font-size: 12px;
    /* Text font size */
    height: 10px;
    opacity: 0;
    /* Initially set opacity to 0 to hide the label */
    transition: opacity 0.2s;
    /* Add a transition effect */
}

/* Add hover effect to round buttons */
.toolbar-button-div:hover .toolbar-label {
    opacity: 1;
}

.custom-dropdown:hover .toolbar-label {
    opacity: 1;
}

/* Add hover effect to round buttons */
.toolbar-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    /* Darken the button on hover */
    transform: scale(1.1);
}

/* Combine the existing toolbar title input styles with the new styles */
.toolbar-title input {
    background: none;
    color: #fff;
    /* Text color */
    font-size: 18px;
    /* Text font size */
    font-weight: bold;
    /* Text font weight */
}

.editor-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.editor-input-div {
    flex: 1;
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.editor-preview-container {
    display: flex;
    flex: 1;
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.editor-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

.editor-preview-div {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
    border-left: 2px solid #ddd;
    font-size: 16px;
    font-family: "montserrat", sans-serif;
    text-align: left;
    /* Style the preview as needed */
}

/* image list  */


/* modal editor  */
/* Add this CSS for the modal */
/* Modal container styles */
/* Style the modal container */
/* Hide images in list view */
.list-view {
    overflow-y: auto;
    width: 90% !important;
    height: 70% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 90% !important;
    max-height: 70% !important;
    background-color: transparent !important;
    border: none !important;

}

.list-view .image-container {
    display: none;
}

.grid-view {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: transparent !important;
    border: none !important;
    justify-content: center;
    /* Center items horizontally */
    align-items: flex-start;
    /* Align items to the top (or adjust as needed) */
}

/* Show images in grid view */
.grid-view .image-container {
    display: block;
}

.media-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.list-view .media-item {
    display: block;
    margin-bottom: 10px;
}

hr {
    width: 100% !important;
    border: 1px solid #747474 !important;
}

.editor-modal {
    display: none;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add a shadow for depth */
}
.editor-modal.help {
    width: 30% !important;
}

.editor-modal.list {
    width: 50% !important;
}

/* Style the modal header */
.modal-header {
    height: 100px;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the close button */
/* Position the close button in the top-right corner */
.modalClose {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.modalBack {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.modalClose:hover {
    color: #ccc;
    scale: 1.1;
}

.modalBack:hover {
    color: #ccc;
    scale: 1.1;
}


/* Style the modal title */
.modal-title h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

/* Style the modal body */
.modal-body {
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.modal-body.scroll {
    overflow-y: scroll;
    max-height: 90% ;
}

/* Style the input fields */
.modal-input {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Style the Insert Link button */
.modal-button-validation {
    background-color: #4b6070;
    /* Blue button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

/* Add some hover effect to the button */
.modal-button-validation:hover {
    background-color: #3c4e5e;
    /* Darker blue on hover */
}

.editor-modal-button-container {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.editor-modal-button-container-column {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
}

/* Style the container for the view buttons */
.view-buttons {
    display: flex;
    justify-content: space-between;
    /* Space the buttons evenly */
    align-items: center;
    /* Center buttons vertically */
    margin-bottom: 20px;
}

/* Style the view buttons */
.grid-view-button,
.list-view-button {
    background-color: #4b6070 !important;
    /* Blue button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

/* Style the icons inside the buttons (assuming you're using ion-icons) */
ion-icon {
    margin-right: 5px;
    /* Add some spacing between the icon and text */
}

/* Add hover effect to the buttons */
.grid-view-button:hover,
.list-view-button:hover {
    background-color: #3c4e5e;
    /* Darker blue on hover */
}

/* Style the container for the downloaded media list */
#downloaded-media-list {
    background-color: #fff;
    /* White background for the media list */
    border: 1px solid #ccc;
    /* Add a border */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

/* Style for media items in grid view */
.grid-item {
    padding: 10px;
    width: 250px;
    height: 350px;
    margin: 20px;
    background-color: #fff;
    /* Background color for grid items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

.media-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    width: 90%;
    overflow-wrap: break-word;
}

.media-title.list {
    text-align: left;
}

/* Style for media items in list view */
.list-item {
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 400px;
    border-radius: 10px;
    max-width: 90%;
    justify-content: space-between;
    background-color: #fff;
    /* Background color for list items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    text-align: left;
}

/* Style for the image container within media items */
.image-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    /* Make the image take up the full width of the container */
    height: 100%;
    /* Make the image take up the full height of the container */
    object-fit: cover;
    /* Crop and scale the image to cover the entire container */
    object-position: center center;
    /* Center the image within the container */
}

/* Style for the video container within media items */
.video-container {
    max-width: 100%;
    height: auto;
}

/* Style for the buttons within media items */
.button-container {
    margin-top: 10px;
}

/* Style for delete and add-to-project buttons */
.delete-button,
.add-to-project-button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

/* Add hover effect to the buttons */
.delete-button:hover,
.add-to-project-button:hover {
    scale: 1.1;
}

/* history editor */

.history-editor-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.history-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.history-editor-toolbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #000000b2;
    /* Transparent background with 20% opacity */
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    /* Apply a blur effect to the background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
}

/* Combine the existing toolbar button styles with the new styles */
.history-toolbar-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin-top: 20px;
}

.history-toolbar-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 60px;
}

.history-toolbar-button-div .toolbar-label {
    color: #fff;
    /* Text color */
    font-size: 12px;
    /* Text font size */
    height: 10px;
    width: 100px;
    opacity: 0;
    /* Initially set opacity to 0 to hide the label */
    transition: opacity 0.2s;
    /* Add a transition effect */
}

.history-toolbar-button-div:hover .toolbar-label {
    opacity: 1;
}

.history-toolbar-title input {
    background: none;
    color: #fff;
    /* Text color */
    font-size: 18px;
    /* Text font size */
    font-weight: bold;
    /* Text font weight */
}

.history-editor-input-div {
    flex: 1;
    /* Make both input and preview divs equal in height and take up available space */
    width: 90% !important;
    height: 100% !important;
    max-height: none !important;
    margin: 10px 0;

}

.history-editor-content {
    display: flex;
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.history-editor-input {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 1000px) {
    .history-toolbar-button-div {
        width: 40px;
        margin-right: 5px;
    }
}
@media (max-width: 768px) {
    .history-editor-div {
        margin-top: 20px !important;
        width: 100% !important;
        height: 100% !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }
    .history-editor {
        height: 100% !important;
    }
    .history-editor-content {
        height: 100% !important;
    }
    .history-editor-input {
        font-size: 14px !important;
        height: 100vh !important;
    }
}

.history-editor {
    width: 90%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden;
}

.history-editor-modal-input-container {
    display: flex;
    flex-direction: column !important;
    height: 50% !important;
    width: 90% !important;
}

.history-modal-input {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.modal-input-file {
    width: 100% !important;
    height: 60% !important;
    margin-right: 10px !important;
}

.modal-buttons-generate {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.spinner svg {
    color: #fff;
}

.toolbar-button.isdisabled {
    background-color: #fff;
}

.toolbar-button.isanabled svg {
    display: none;
}

.toolbar-button.isanabled ion-icon {
    display: block;
}

.toolbar-button.isdisabled svg {
    display: block;
    color: #fff;
}

.toolbar-button.isdisabled ion-icon {
    display: none;
}

.toolbar-label .isdisabled {
    color: #fff;
    display: block !important;
}

.readmeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.readmeViewer {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
}

/* admin page  */

.user-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.table-card-admin {
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: none;
}

.card-body-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.card-body-admin.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.card-body-admin.inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.user-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

/* Search bar container */
/* Search bar container */
.user-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #4b6070;
    /* Transparent background with 20% opacity */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
}

/* Search input field */
.user-filter-search input[type="text"] {
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
}

/* Search button */
.user-filter-search button {
    background-color: #4b6070;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


/* Sort select dropdown container */
.user-filter-sort {
    position: relative;
    /* Add relative positioning to the container */
    margin-right: 20px;
}

/* Sort select dropdown */
.user-filter-sort select {
    padding: 10px;
    width: 120px;
    border: none;
    background-color: #4b6070;
    /* Dark background color */
    color: #fff;
    font-size: 16px;
    outline: none;
    appearance: none;
    /* Make the select dropdown arrow more visible */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    /* Style the dropdown arrow */
}

.user-filter-sort label {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

/* Style the select dropdown options */
.user-filter-sort select:focus {
    outline: none;
}

/* Style the select dropdown when open */
.user-filter-sort select:active,
.user-filter-sort select:checked {
    background-color: #2e3c47;
    /* Darker background color when open */
}


.search-icon {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
}

.table-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table-button-text {
    margin-right: 10px;
    color: #2e3c47;
    /* remove all decoration and background from the button */
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.table-button-text:hover {
    color: #4b6070;
    scale: 1.1;
}

.table-button-text.destruct {
    color: #ff0000;
}

.table-button-text.destruct:hover {
    color: #ff0000;
    scale: 1.1;
}

.user-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    width: 90%;
    height: 90%;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.modal-user {
    display: none;
    z-index: 3;
    width: 100%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for modal-header */
.modal-header {
    background-color: #333;
    color: white;
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for modal-title */
.modal-title {
    font-size: 24px;
}

/* Style for modalClose */
.modalClose {
    font-size: 30px;
    cursor: pointer;
}

/* Style for user-div */
.user-div {
    background-color: #fff;
    padding: 20px;
    height: 90%;
    margin-top: 40px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
}

.login-card-body.admin {
    border-radius: 10px;
}

.user-id-div {
    margin-right: 20px;
}

.form-group-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sort-button {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    cursor: pointer;
    color: #fff;
}

.sort-icon {
    flex-shrink: 0;
    /* Prevent the icon from shrinking */
    margin-left: 8px;
    /* Adjust the spacing between text and icon */
}

.stats-list-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: #fff;
    border-radius: 20px;
    display: none;
}

.stats-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
    /* Set your desired background color */
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.stats-table thead {
    background-color: #f2f2f2;
    /* Set your desired header background color */
    position: sticky;
    top: 0;
    z-index: 1;
    /* To ensure the header is displayed above the content */
}

.stats-table th {
    padding: 10px;
    /* Adjust the padding as needed */
    text-align: left;
    /* Adjust text alignment as needed */
}

.stats-table tbody {
    overflow-y: auto;
    /* Enable vertical scrolling for the table body */
    max-height: 400px;
    /* Set the maximum height for the table body */
}

.stats-table td {
    padding: 10px;
    /* Adjust the padding as needed */
    text-align: left;
    /* Adjust text alignment as needed */
}

th[data-column="created_at"],
td[data-column="created_at"] {
    width: 150px;
    /* Set a specific width for the column */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow if the content is too long */
    text-overflow: ellipsis;
    /* Show ellipsis (...) for truncated text */
}

.cards-groupper-inner {
    width: 100%;
    height: 95%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 50px;
    overflow: hidden;
}

.table-card-admin-inner {
    background-color: #3b3b3b;
    /* Transparent background with 20% opacity */
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: none;
}

.card-header-inner {
    background-color: #4b6070;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.card-body-admin-inner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: #4b6070;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-groupper-button-inner {
    padding: 10px 20px;
    /* Adjust padding to your liking */
    background-color: #3c4e5e;
    /* Button background color */
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    z-index: 0;
    color: #fff;
    /* Text color */
    border: none;
    /* Remove border */
    cursor: pointer;
    /* Show pointer cursor on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
    font-size: 16px;
    /* Font size */
    width: 200px;
    height: 50px;
    margin-right: -50px;
}

.card-groupper-button-inner.second {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.card-groupper-button-inner.isactive {
    background-color: #3b3b3b;
    /* Button background color on hover */
    z-index: 1;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.button-box {
    position: absolute;
    /* Set the button box to an absolute position */
    top: 0px;
    /* Position it at the top */
    right: 0px;
    /* Position it at the left */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-box-button {
    background-color: #4b6070;
    /* Blue button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box-button:hover {
    background-color: #3c4e5e;
    /* Darker blue on hover */

}

.stats-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #4b6070;
    /* Transparent background with 20% opacity */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow for depth */
    display: none;
}

/* Styling for the chart toolbar container */
.chart-toolbar {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px !important;
    width: 100%;
}

.chart-checkbox-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
    margin-right: 10px;
}

/* Styling for the checkbox label */
.chart-checkbox-label {
    margin-right: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    flex-direction: column;
}

/* Styling for the checkbox input */
.checkbox-input {
    margin-right: 5px;
}

/* Styling for the chart update button */
.update-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chart-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;

}

.chart {
    width: 100%;
    height: 90% !important;
}
@media screen and (max-width: 750px) {
    .card-groupper-buttons {
        flex-direction: row !important;
    }
    .card-groupper-button{
        border-bottom-right-radius: 10px!important;
        border-top-right-radius: 10px!important;
    }
    .card-groupper-button.second {
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 10px !important;
    }
    .card-groupper-button-inner{
        border-bottom-right-radius: 10px!important;
        border-top-right-radius: 10px!important;
    }
    .card-groupper-button-inner.second {
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-right-radius: 10px !important;
    }
    .button-box {
        position: relative !important;
    }
    .cards-groupper-inner {
        justify-content: flex-start !important;
        align-items: center !important;
    }
}
@media screen and (max-width: 2025px) {
    .card-body-admin-inner {
        align-items: center !important;
        justify-content: flex-start !important;
        height: 85% !important;
    }

    .chart-div {
        width: 100% !important;
        height: 100% !important;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: left !important;
    }

    .chart-toolbar {
        flex-direction: row !important;
        height: auto !important;
        min-width: auto !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        width: 100% !important;
        height: auto !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-right: 20px !important;
    }

    .chart-checkbox-div {
        flex-direction: column !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-right: 0px !important;
        margin-bottom: 5px;
        width: 80px !important;
    }

    .chart-checkbox-label {
        font-size: 12px !important;
        display: flex !important;
        flex: 1;
        margin: 0px !important;
    }

    .checkbox-input {
        width: 20px !important;
        margin-right: 5px !important;
        display: flex !important;
        max-width: auto !important;
    }

    .chart {
        width: 70%;
        height: 100%;
        margin: 0px;
    }

    .datepicker {
        width: 100px !important;
        max-width: 100px !important;
    }

    .date-filter-div-chart {
        display: flex;
        align-items: center;
        flex-direction: column !important;
        border: none !important;
        padding: 10px;
        font-size: 16px;
        width: 100px !important;
        max-width: 100px !important;
        margin-right: 0px !important;
    }
}

.datepicker {
    width: 200px !important;
}

.date-filter-div-chart {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    width: 250px !important;
    max-width: 250px !important;
    margin-right: 10px;
}

.app-file-div {
    width: 80%;
    height: 40%;
    max-width: 1000px;
    background-color: #3b3b3b;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

.app-file-div h4 {
    color: #fff;
}

.app-file-input-div {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table-button-text.padding {
    margin-left: 20px !important;
}

.shortcut-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.shortcut-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.shortcut-list li .shortcut-icon {
    font-size: 24px;
    margin-right: 10px;
}

.shortcut-list li .shortcut {
    flex-grow: 1;
    font-weight: bold;
}

.shortcut-list li .shortcut-description {
    font-style: italic;
}

.shortcut-list li:last-child {
    margin-bottom: 0;
}

.shortcut-list li:hover {
    background-color: #e0e0e0;
}

